# 1주차 복습

# 연산자

In [2]:
#연산자

a = 5
b = 6
print(type(a)) #타입확인

print( a + b ) #합
print( a * b) #곱
print( a - b) #차
print( a / b) #나누기
print( a % b) #나머지
print( a // b) #몫
print( a ** 3 ) # 5*5*5

<class 'int'>
11
30
-1
0.8333333333333334
5
0
125

# 조건문

In [3]:
# 조건문

a= int(input("숫자 입력: ")) # input으로 입력받으면 str

if a >= 90 and a <= 93:  # and, or,  not
    print("A")
elif 80 <= a <= 85:
    print("B")
elif a>=70:
    print("C")
else:
    print("D")

print("E")

숫자 입력: 89
C
E

# 리스트

In [13]:
# 리스트

a=[1,2,3,4,5]

a.append(6) # 뒤에 추가하기
a.insert(0,33) # 앞에 추가하기

a[2]=33 # 인덱스 2의 자리 값을 변환

for i in a: # 반복문 i 변수에 리스트 값만 복사
    print(i,end=", ")
print()

for i in range(0,len(a),1): # 반복문 i 변수에 리스트 안에 속한 갯수 값만 복사
    print(a[i],end=", ")
print()

for i,t in enumerate(a): # 반복문 i,t변수에 위치와 값이 복사
    print(i,t, end=", " )
print()    
    

# 문제 : 2, 4, 6, 8만 출력하기
b=[[1,2],[3,4],[5,6],[7,8]]

for i in range(0, len(b),1): # 4번 반복
    for j in range(0, len(b[i]),1): # 2번 반복
        if j == 1: # if가 1인 것만 출력
            print(b[i][j], end=" ")
print()    


print(b[0][1],b[1][1],b[2][1],b[3][1])

33, 1, 33, 3, 4, 5, 6,
33, 1, 33, 3, 4, 5, 6,
0 33, 1 1, 2 33, 3 3, 4 4, 5 5, 6 6,
2 4 6 8
2 4 6 8

# 딕셔너리

In [1]:
# 딕셔너리는 키와 값으로만 이루어져 있음
# 값을 꺼낼때 key를 이용해서 꺼냄 JSON, XML

a={"name":"가나다","age":25,"addr":"부산"} # 개별로 할때는 {}형태
b=[{"name":"가나다","age":25,"addr":"부산"}, 
   {"name":"가나다","age":25,"addr":"서울"},
   {"name":"가나다","age":25,"addr":"부산"}] # 다수의 형태는 [{}, {}, {}]

print(a)
print(type(a))
print(type(b))
print(a['age']) # 키가 없으면 오류발생
print(a.get('age1',0)) # 키가 없어도 뒤에 적었던 값(0)으로 출력

for i in a: # 키 반복
    print(i,end=", ")
print()
print("-"*30)

for i in a: # 값 반복
    print(a[i], end=", ")
print()
print("-"*30)

for key, value in a.items(): # 키랑 값을 다 출력
    print(key, value)

{'name': '가나다', 'age': 25, 'addr': '부산'}
<class 'dict'>
<class 'list'>
25
0
name, age, addr,
------------------------------
가나다, 25, 부산,
------------------------------
name 가나다
age 25
addr 부산

In [40]:
a=[{"name":"가나다","age":15,"addr":"부산"}, 
   {"name":"나다라","age":25,"addr":"서울"},
   {"name":"다라마","age":35,"addr":"용인"}] # 다수의 형태는 [{}, {}, {}]
b={"name":["가나다1","나다라1","다라마1"], "age":[115,125,135],"addr":["용인1","부산1","서울1"]}
a1=[]
a2=[]
a3=[]


print(type(a))
print(a)
print(a[2]['addr'])
print()
print("-"*30)

print(type(b))
print(b)
print()
print("-"*30)

for i in a: #
    print(i['name'])
print()
print("-"*30)
    
# a의 형식을 b 형식으로 만들기 [리스트 형식을 딕셔너리로 바꾸기]
for j in a:
    a1.append(j['name'])
    a2.append(j['age'])
    a3.append(j['addr'])    
    b1={'name':a1,'age':a2,'addr':a3}
    
print(b1)
print()
print("-"*30)

<class 'list'>
[{'name': '가나다', 'age': 15, 'addr': '부산'}, {'name': '나다라', 'age': 25, 'addr': '서울'}, {'name': '다라마', 'age': 35, 'addr': '용인'}]
용인

------------------------------
<class 'dict'>
{'name': ['가나다1', '나다라1', '다라마1'], 'age': [115, 125, 135], 'addr': ['용인1', '부산1', '서울1']}

------------------------------
가나다
나다라
다라마

------------------------------
{'name': ['가나다', '나다라', '다라마'], 'age': [15, 25, 35], 'addr': ['부산', '서울', '용인']}

------------------------------

# SET

In [41]:
# set 사용하기
a={1,3,3,3,3,4,5}
b=[1,2,3]
a1=a
a2=set(b) # 리스트를 set 타입으로 변경하기

print(a1 | a2) # 합집합
print(a1 & a2) # 교집합
print(a1 - a2) # 차집합

{1, 2, 3, 4, 5}
{1, 3}
{4, 5}

# 튜플

In [42]:
# 튜플
c=(2,2,3,4,5) # 값 변경 불가!!
#c[3]=4 # 값을 변경할 수 없기때문에 오류가 발생한다.

for i in c:
    print(i,end=", ")

2, 2, 3, 4, 5,

# 문자열

In [45]:
# 리스트를 하나의 문자로 합치기
str1 = ["abc", "dfe", "kkk"]   # 리스트 배열
str1 = ",".join(str1)          # 문자열 합치기
print(type(str1))
print(str1)
print("-"*30)
print()

# 문자열을 리스트로 나누기
str1 = "aaa bbb ccc"
arr = str1.split(" ") #공백으로 구분하여 나누기
print(type(arr))
print(arr)

<class 'str'>
abc,dfe,kkk
------------------------------

<class 'list'>
['aaa', 'bbb', 'ccc']

# 웹 데이터 가져오기

In [130]:
## 필수항목
import requests
import json
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767) #mongoDB 서버 이용
db = conn.get_database("db1") # db1생성
table = db.get_collection("test2") #collection 생성 또는 불러오기 가능


url="http://ihongss.com/json/exam17.json" # 서버주소  
str1 = requests.get(url).text #서버에서 값을 받음(문자열)
dic = json.loads(str1) #문자를 python 자료형으로 변환
print(type(dic)) #타입확인
#print(dic) # 자료 확인

#문제 : 받은 결과를 아래의 포멧으로 변경하시오.
# data1 = [ {'no':5,    },{     }, {     }, {     }]
# {no:5, title:'제목5', content:'aaa BbB ccc Hello eee 10', date:'2019-01-18', hit:11},

# [{no:5, title:'제목5', content:[문자, 문자, 문자, 문자     ], year:2019, month:01, day:18, hit:11},{ },{ }]
a=[]
b=[]
c=[]
d=[]
e=[]
year=[]
month=[]
day=[]

for i in dic:
    a.append(i['no'])
    b.append(i['title'])
    c.append(i['content'])
    d.append(i['date'])
    e.append(i['hit'])
    print(i)
print("-"*30)
print()
    
for j in range(0,len(c),1):
    c1=c[j].split(" ")
    print(c1)
print("-"*30)
print()    

for k in range(0,len(d),1):
    d1=d[k].split("-")
    year.append(d1[0])
    month.append(d1[1])
    day.append(d1[2])
print(day)
print(type(d1))
print("-"*30)
print()

a1={"no":a,"title":b,"content":c1,"year":year,"month":month,"day":day,"hit":e}
print(a1) 
table.insert(a1)  #추가하기

<class 'list'>
{'no': 5, 'title': '제목5', 'content': 'aaa BbB ccc Hello eee 10', 'date': '2019-01-18', 'hit': 11}
{'no': 4, 'title': '제목4', 'content': 'ddd bbb ccc 14 ddd eee', 'date': '2019-01-17', 'hit': 3}
{'no': 3, 'title': '제목3', 'content': 'eee hello ccc ddd 166 eee c', 'date': '2019-01-16', 'hit': 6}
{'no': 2, 'title': '제목2', 'content': 'aaa bbb ccc Hello eee 1004 java', 'date': '2019-01-15', 'hit': 21}
{'no': 1, 'title': '제목1', 'content': 'Hello 999 bbb ccc ddd World python', 'date': '2019-01-14', 'hit': 15}
------------------------------

['aaa', 'BbB', 'ccc', 'Hello', 'eee', '10']
['ddd', 'bbb', 'ccc', '14', 'ddd', 'eee']
['eee', 'hello', 'ccc', 'ddd', '166', 'eee', 'c']
['aaa', 'bbb', 'ccc', 'Hello', 'eee', '1004', 'java']
['Hello', '999', 'bbb', 'ccc', 'ddd', 'World', 'python']
------------------------------

['18', '17', '16', '15', '14']
<class 'list'>
------------------------------

{'no': [5, 4, 3, 2, 1], 'title': ['제목5', '제목4', '제목3', '제목2', '제목1'], 'content': ['Hello', '999', 'bbb', 'ccc', 'ddd', 'World', 'python'], 'year': ['2019', '2019', '2019', '2019', '2019'], 'month': ['01', '01', '01', '01', '01'], 'day': ['18', '17', '16', '15', '14'], 'hit': [11, 3, 6, 21, 15]}

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:60: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5f07cafa5110dda88fa3b1fb')

In [151]:
import requests
import json
import pymongo
import pandas as pd

url="http://ihongss.com/json/exam17.json"    
str1 = requests.get(url).text               # 문자열
data1 = json.loads(str1) 
#data1

conn = pymongo.MongoClient('192.168.99.100',32767) #mongoDB 서버 이용
db = conn.get_database("db1") # db1생성
table = db.get_collection("test1") #collection 생성 또는 불러오기 가능

#문제 : 받은 결과를 아래의 포멧으로 변경하시오.
# data1 = [ {'no':5,    },{     }, {     }, {     }]
# {no:5, title:'제목5', content:'aaa BbB ccc Hello eee 10', date:'2019-01-18', hit:11},

# [{no:5, title:'제목5', content:[문자, 문자, 문자, 문자     ], year:2019, month:01, day:18, hit:11},{ },{ }]
data2 = []
for i in data1:
    b = {} # 빈 딕셔너리는 안쪽에
    b['no'] = i['no'] #{'no':5}
    b['title'] = i['title'] #{'title':'aa'}
    b['content'] = i['content'].split(" ")
    t2 = i['date'].split("-")
    b['year'] = t2[0]
    b['month'] = t2[1]
    b['day'] = t2[2]
    b['hit'] = i['hit']

    data2.append(b)
print(data2) 

#table.insert_many(data2)  #추가하기

[{'no': 5, 'title': '제목5', 'content': ['aaa', 'BbB', 'ccc', 'Hello', 'eee', '10'], 'year': '2019', 'month': '01', 'day': '18', 'hit': 11}, {'no': 4, 'title': '제목4', 'content': ['ddd', 'bbb', 'ccc', '14', 'ddd', 'eee'], 'year': '2019', 'month': '01', 'day': '17', 'hit': 3}, {'no': 3, 'title': '제목3', 'content': ['eee', 'hello', 'ccc', 'ddd', '166', 'eee', 'c'], 'year': '2019', 'month': '01', 'day': '16', 'hit': 6}, {'no': 2, 'title': '제목2', 'content': ['aaa', 'bbb', 'ccc', 'Hello', 'eee', '1004', 'java'], 'year': '2019', 'month': '01', 'day': '15', 'hit': 21}, {'no': 1, 'title': '제목1', 'content': ['Hello', '999', 'bbb', 'ccc', 'ddd', 'World', 'python'], 'year': '2019', 'month': '01', 'day': '14', 'hit': 15}]

# 함수

In [131]:
#함수 만들기
def mysum(a, b):
    return a + b


def mymin(x): #리스트로 값이 넘어옴
    min = x[0]
    for i in x:
        if min > i:
            min = i
    return min


#만든 함수 호출하기
print( mysum(4,5) )

print( mymin([3,5,7,8,2]))

9
2

# 정규표현식

In [2]:
#정규표현식
import re

# 함수 만들기
def mytel(x):
    b = re.match('^[0-1]{3}-[0-9]{4}-[0-9]{4}$',x)
    if b!=None:
        return x
    else:
        return "999-9999-9999"
    
# 문제 myname 함수를 만들어서 '가나다'인 이름이 아니면 홍길동으로 변경
def myname(y):
    c= re.match('^가나다$',y)
    if c!=None:
        return "홍길동"
    else:
        return y
# b = re.match('^[0-1]{3}-[0-9]{4}-[0-9]{4}$','010-0000-0000')
# if b != None : 
#     print(b.span())
#     print(b.group())
# else:
#     print("None")

In [19]:
import pandas as pd

df = pd.DataFrame({ "name":['가나다','나다라','마바사'], 
                   "age":[23,34,56], 
                   "tel":['010-0000-0001','010-0000-000','010-1111-2222'], 
                   "gender":["female", "male", "male"] })

# 데이터프레임의 tel의 항목을 mytel함수로 전달해서 결과를 받음 .apply(함수명)
df['tel']=df['tel'].apply(mytel)
df['name']=df['name'].apply(myname)
df['date']='2019-07-08 14:02:34,' # string 타입
df['date']=pd.to_datetime(df['date']) # string타입을 날짜 타입으로 변경
df.info()
df['time'] = df['date'].dt.hour         # 시(숫자)
df['min'] = df['date'].dt.minute       # 분(숫자)
df['sec'] = df['date'].dt.second       # 초(숫자)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   tel     3 non-null      object
 3   gender  3 non-null      object
 4   date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 248.0+ bytes

  name  age            tel  gender                date  time  min  sec
0  홍길동   23  010-0000-0001  female 2019-07-08 14:02:34    14    2   34
1  나다라   34  999-9999-9999    male 2019-07-08 14:02:34    14    2   34
2  마바사   56  010-1111-2222    male 2019-07-08 14:02:34    14    2   34

In [17]:
a = []

for yy in range(2010, 2011): # 2010
    for mm in range(1, 4):   #1 2 3
        mm_str = str(mm).zfill(2) # 들어온 숫자를 2자리로 만들어줌
        yymm = '{}-{}-{}'.format(yy, mm_str, "01")
        a.append(yymm)
        print(yymm)

2010-01-01
2010-02-01
2010-03-01