In [ ]:
# docker 다운로드
# www.github.com/docker/toolbox/releases

In [ ]:
# docker search mongo=> 설치하고자 하는 이미지 검색
# docker pull mongo => 이미지 가져오기
# docker images => 가져온 이미지 보기
# 컨테이너 (실제 실행 프로그램 만들기)
# docker run --name m01 -d -p 32767:27017 mongo => 컨테이너(실제 실행프로그램 만들기) window 포트번호:mongo포트번호를 연결 
# docker ps -a             => 컨테이너 구동확인
# docker server 192.168.99.100

In [2]:
print('Hello world')

Hello world

In [7]:
a=5
b=6
print(type(a))
print(a+b)
print(a*b)
print(a-b)
print(a%b) #나머지
print(a/b)
print(a//b) #몫

<class 'int'>
11
30
-1
5
0.8333333333333334
0

In [13]:
a=input("숫자를 입력하세요: ") #input으로 받으면 int가 아닌 string 
b=input('숫자를 입력하세요: ')

a=int(a) # 타입 변경
b=int(b)

print(a+b)
print(type(a))

숫자를 입력하세요: 2
숫자를 입력하세요: 3
5
<class 'int'>

In [14]:
# 문제: 숫자 3개를 입력받아서 합을 구하시오.
a=input('숫자를 입력하세요: ')
b=input('숫자를 입력하세요: ')
c=input('숫자를 입력하세요: ')
a=int(a)
b=int(b)
c=int(c)

print(a+b+c)

숫자를 입력하세요: 3
숫자를 입력하세요: 4
숫자를 입력하세요: 2
9

In [37]:
# 문제: 숫자 3개를 입력받아서 평균을 구하시오.
a=input('숫자를 입력하세요: ')
b=input('숫자를 입력하세요: ')
c=input('숫자를 입력하세요: ')
a=int(a)
b=int(b)
c=int(c)
d=(a+b+c)/3

print("평균 ={}".format(d)) #{}에 format의 값을 넣음

숫자를 입력하세요: 3
숫자를 입력하세요: 3
숫자를 입력하세요: 3
평균 =3.0

In [35]:
# 조건문
a=float(input("숫자를 입력하세요: "))
if a>5:
    pirnt("5보다 큽니다.")    
else:
    print("5보다 작습니다.")
print("Wow")

숫자를 입력하세요: 3
5보다 작습니다.
Wow

In [40]:
# p.125 예제 4
a=float(input("> 1번째 숫자: "))
b=float(input("> 2번째 숫자: "))
print()

if(a>b):
    print("처음 입력했던 {}가 {}보다 더 큽니다" .format(a,b))
if (b>a):
    print("두 번째로 입력했던 {}가 {}보다 더 큽니다." .format(b,a))

> 1번째 숫자: 100
> 2번째 숫자: 10

처음 입력했던 100.0가 10.0보다 큽니다

In [45]:
a = int(input("점수를 입력하세요: "))
if 95>=a>90:
    print("S")
elif a>=90:
    print("A")
elif a>=80:
    print("B")
elif a>=70:
    print("C")
elif a>=60:
    print("D")
elif a>=50:
    print("E")
else:
    print("F")

점수를 입력하세요: 100
A

In [59]:
# 리스트
a=[3, 4, 5, 6, 7]
#  0, 1, 2, 3, 4
#  -5,-4,-3,-2,-1
print(a[0]) # 리스트의 첫번째 자리 값을 출력
print(a[:5])
print(a[1:4]) #1부터 4-1 까지의 값을 출력

b=[[1,2,3],[11,12,13],[21,22,23],[31,32,33]]
print(b[2][2],b[3][1]) # 2번째 리스트 값과 그 안에 속한 2번째 값 출력 (23) 
# 튜블
# 셋
# 딕셔너리

3
[3, 4, 5, 6, 7]
[4, 5, 6]
23 32

In [73]:
# 리스트 : 값만 들어가 있음.
a=[3, 4, 5, 6, 7]
#  0, 1, 2, 3, 4
#  -5,-4,-3,-2,-1

#반복문
for i in a:
    print(i,end=" ")   # end(" ")가로 줄로 만듬 
print()
for i,j in enumerate(a): # 
    print(i,j,end=" ,")
print(type(a))

3 4 5 6 7
0 3 ,1 4 ,2 5 ,3 6 ,4 7 ,<class 'list'>

In [75]:
# 딕셔너리는 키와 값으로 이루어져있음
# 값을 꺼낼때 key를 이용해서 꺼냄 JSON, XML 웹에서 데이터 수집때 사용
a={"name": "Lee","age":30,"add":"부산"}
print(type(a))
print(a)
print(a['age']) #해당 키를 입력하면 값이 출력

<class 'dict'>
{'name': 'Lee', 'age': 30, 'add': '부산'}
30

In [85]:
# 리스트의 입장에서 3개 [{},{},{}]
a=[{"name": "Lee","age":15,"add":"용인"},
  {"name": "Chang","age":20,"add":"속초"},
  {"name": "Hwan","age":25,"add":"부산"}]
print(type(a[0]['add']))

# 용인과 Chang을 출력하시오
print(a[0]['add'],a[1]['name'])
print(a[2]['age'],a[2]['add'])

<class 'str'>
용인 Chang
25 부산

In [90]:
a={"ret":[2,3,4,5]}
print(a['ret'][2])
print(type(a['ret'][2]))
print(type(a['ret']))

4
<class 'int'>
<class 'list'>

In [101]:
a=[]
a.append({"name":"가나다","age":34})
a.append({"name":"가나다","age":23})
print(a)
print(type(a))

# 가나다와 4, 5를 출력하시오.
b={"ret":{"abc":[1,3,4,5]},"name":"가나다"}
print(b["name"])
print(b["ret"]["abc"][2])
print(b["ret"]["abc"][3])

[{'name': '가나다', 'age': 34}, {'name': '가나다', 'age': 23}]
<class 'list'>
가나다
4
5

In [118]:
# p.171 문제 2번
pets=[{"name":"구름","age":5},
      {"name":"초코","age":3},
      {"name":"아지","age":1},
      {"name":"호랑이","age":1},
]
print("# 우리 동네 애완동물들")
print(pets[0]["name"],pets[0]["age"],"살")
print(pets[1]["name"],pets[1]["age"])
print(pets[2]["name"],pets[2]["age"])
print(pets[3]["name"],pets[3]["age"])

# 우리 동네 애완동물들
구름 5 살
초코 3
아지 1
호랑이 1

## 오후

In [1]:
import json
import requests

# 서버 주소
url="http://ihongss.com/json/exam2.json"
# 서버에서 값을 받음
str1=requests.get(url).text
# 문자를 python 자료형으로 변환
dic=json.loads(str1)

print(type(dic)) #타입 확인
print(dic) # 자료 확인

#id, name, age를 [{, ,}, {, ,}]
a=[] # 빈 리스트를 생성함
a.append([dic['ret']['id'],dic['ret']['name'],dic['ret']['age']]) # a에 dic 값을 추가함
a.append([dic['ret1']['id'],dic['ret1']['name'],dic['ret1']['age']])
print(a)

<class 'dict'>
{'ret': {'id': 'a386', 'name': '123', 'age': 34}, 'ret1': {'id': 'a383', 'name': '123', 'age': 36}}
[['a386', '123', 34], ['a383', '123', 36]]

In [32]:
import json
import requests

url="http://ihongss.com/json/exam3.json"
str1=requests.get(url).text # 문자열
dic=json.loads(str1)

print(type(dic))
print(dic) #{'ret':[{}, {}, {}]}
a1=[]
a=dic['ret']# [{}, {}, {}]
for i in a: # 반복해서 출력
    print(i['id'],i['name'],i['age']) # type dic
    a1.append([i['id'],i['name'],i['age']]) # 반복되는 구문의 값을 a1에 추가하여 출력해나감
b=dic['ret1']
for i in b:
    print(i['id'],i['name'],i['age'])
    a1.append([i['id'],i['name'],i['age']]) 
print(a1)
print("="*30)
for t in a1: # 7번 반복
    if t[2]>=40:
        print(t) #[아이디, 이름, 나이]

<class 'dict'>
{'ret': [{'id': 'a2001', 'name': '123', 'age': 34}, {'id': 'a2002', 'name': '123', 'age': 54}, {'id': 'a2003', 'name': '123', 'age': 36}, {'id': 'a2004', 'name': '123', 'age': 38}], 'ret1': [{'id': 'a2005', 'name': '123', 'age': 17}, {'id': 'a2006', 'name': '123', 'age': 52}, {'id': 'a2007', 'name': '123', 'age': 33}]}
a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33
[['a2001', '123', 34], ['a2002', '123', 54], ['a2003', '123', 36], ['a2004', '123', 38], ['a2005', '123', 17], ['a2006', '123', 52], ['a2007', '123', 33]]
==============================
['a2002', '123', 54]
['a2006', '123', 52]

In [173]:
# EXAM 7번

import json
import requests

url="http://ihongss.com/json/exam7.json"
str1=requests.get(url).text # 문자열
dic=json.loads(str1)
#print(dic)

# 2차원 리스트 만드세요 {}, {}, {}, {}, {}
# 키가 160 이상 몸무게가 60이상인 사람 만 출력
a=dic['data']
print(a)

a1=[]
for i in a:
    print(i['id'],i['name'],i['age'],i['height'],i['weight'])
    a1.append([i['id'],i['name'],i['age'],i['height'],i['weight']]) # 빈 리스트에 추가하여 새로운 리스트로 만들어줌
print('='*30)
for t in a1:
    if t[3]>=160 and t[4]>=60: # height와 weight에 해당하는 인덱스 값을 불러와서 크기 비교
        print(t)

[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}, {'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}, {'id': 'd', 'name': '가나다4', 'age': 44, 'height': 165.7, 'weight': 44.5}, {'id': 'e', 'name': '가나다5', 'age': 85, 'height': 165.2, 'weight': 42.3}]
a 가나다1 61 165.4 60.2
b 가나다2 32 185.4 80.3
c 가나다3 13 145.8 60.6
d 가나다4 44 165.7 44.5
e 가나다5 85 165.2 42.3
==============================
['a', '가나다1', 61, 165.4, 60.2]
['b', '가나다2', 32, 185.4, 80.3]

In [8]:
# exam 10번 
# id 끼리, name끼리,  
import json
import requests

url="http://ihongss.com/json/exam10.json"
str1=requests.get(url).text # 문자열
dic=json.loads(str1)
a=dic['data']
a1=[]
a2=[]
a3=[]
a4=[]
a5=[]
a6=[]
a7=[]
for i in a:
    a1.append([i['id']])
#print(a1)
for i in a:
    a2.append([i['name']])
##print(a2)
for i in a:
    a3.append([i['age']])
print(a3)
for i in a:
    a4.append([i['score']])
    a5.append(i['score']['math'])
    a5.append(i['score']['eng'])
    a5.append(i['score']['kor'])
#print(a4)
b= []
b.append(a1)
b.append(a2)
b.append(a3)
b.append(a4)
b.append(a5)
b.append(a6)
b.append(a7)
#print(b)

print(sum(b[4]))
print(min(b[4]))
print(max(b[4]))
print(a4[0][0]['math'])

[[31], [32], [33], [34], [35]]
1110
50
90
50

In [137]:
# p.172 
numbers=[1,6,3,4,5,2,3,3,4]
counter={}

for number in numbers: # 5번 반복
    if number in counter: # in 연산자 number가 counter 안에 있는지?
        counter[number]=counter[number]+1
    else:
        counter[number]=1
print(counter)

{1: 1, 6: 1, 3: 3, 4: 2, 5: 1, 2: 1}

In [7]:
! pip install mongo

Requirement already satisfied: mongo in c:\programdata\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (from mongo) (3.10.1)

In [7]:
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767)
db = conn.get_database("db1") # db1생성
table = db.get_collection("test1") # collection 생성

dict1 = [{"id":"c","age":35},{"id":"a","age":25}] # 추가할 자료 만들기 여러개 할때는 리스트 안에 딕셔너리 모양으로 [{}, {}, {}]
table.insert_many(dict1) #  DB에 여러개 추가하기

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5f040043013d4bc628e23b12'), ObjectId('5f040043013d4bc628e23b13')]

In [3]:
list_a=[273,32,103,"문자열",True,False]
print(list_a[3:5])

['문자열', True]

In [9]:
import json
import requests
import pymongo
#
url="http://ihongss.com/json/exam7.json"
str1=requests.get(url).text # 문자열
dic=json.loads(str1)

conn = pymongo.MongoClient('192.168.99.100',32767)
db = conn.get_database("db1") # db1생성
table = db.get_collection("test2") #collection 생성

a=dic['data']
a1=[]
#print(a)
for i in a:
    a1.append({'id':i['id'],'name':i['name'],'age':i['age'],'height':i['height'],'weight':i['weight']})
    print(a1)
table.insert(a1)

[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}]
[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}]
[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}, {'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}]
[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}, {'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}, {'id': 'd', 'name': '가나다4', 'age': 44, 'height': 165.7, 'weight': 44.5}]
[{'id': 'a', 'name': '가나다1', 'age': 61, 'height': 165.4, 'weight': 60.2}, {'id': 'b', 'name': '가나다2', 'age': 32, 'height': 185.4, 'weight': 80.3}, {'id': 'c', 'name': '가나다3', 'age': 13, 'height': 145.8, 'weight': 60.6}, {'id': 'd', 'name': '가나다4', 'age': 44, 'height': 165.7, 'weight': 44.5}, {'id': 'e', 'name': '가나다5', 'age': 85, 'height': 165.2, 'weight': 42.3}]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5f040e33013d4bc628e23b15'),
 ObjectId('5f040e33013d4bc628e23b16'),
 ObjectId('5f040e33013d4bc628e23b17'),
 ObjectId('5f040e33013d4bc628e23b18'),
 ObjectId('5f040e33013d4bc628e23b19')]

In [8]:
friends = []

for i in range (0,3,1) :
    friends.append({'name': input('이름을 입력하시오:'), 'tel':input('전화번호를 입력하시오 :'), 'addr': input('주소를 입력하시오:'), 'age':input('나이를 입력하시오:')})

print(friends)

이름을 입력하시오:dlckdghks
전화번호를 입력하시오 :dldl
주소를 입력하시오:ddl
나이를 입력하시오:dldl
이름을 입력하시오:dldl
전화번호를 입력하시오 :dldld
주소를 입력하시오:ld
나이를 입력하시오:ld
이름을 입력하시오:ld
전화번호를 입력하시오 :ldl
주소를 입력하시오:ldldld
나이를 입력하시오:ldl
[{'name': 'dlckdghks', 'tel': 'dldl', 'addr': 'ddl', 'age': 'dldl'}, {'name': 'dldl', 'tel': 'dldld', 'addr': 'ld', 'age': 'ld'}, {'name': 'ld', 'tel': 'ldl', 'addr': 'ldldld', 'age': 'ldl'}]