## Hello

In [1]:
print("Hello World")

Hello World

In [2]:
a=365

In [3]:
print(a)

365

In [4]:
b=0b101101101

In [5]:
print(b)

365

In [6]:
c=0o555

In [7]:
print(c)

365

In [8]:
d=0x16d
print(d)

365

In [9]:
fa=3.14
print(fa)

3.14

In [10]:
fb=-3.14
print(fb)

-3.14

In [11]:
fc=3.1415e2 #e2는 10의 2승을 표현
print(fc)

314.15

In [12]:
fd=3.1415e-2
print(fd)

0.031415

## 복소수 타입

In [13]:
a=6+4j
print(a)

(6+4j)

In [14]:
b=complex(6,4)
print(b)

(6+4j)

In [15]:
a.real #실수 부분

6.0

In [16]:
a.imag #허수 부분

4.0

## 불린 타입

In [17]:
ba=True

In [18]:
bb=False

In [19]:
ba and bb

False

In [20]:
6==6

True

In [21]:
6>4
6<4

False

In [22]:
bool("ABC")

True

In [23]:
bool("")

False

In [24]:
bool([1,2,3])

True

In [25]:
bool([])

False

In [26]:
bool()

False

In [27]:
bool({})

False

## 문자열 타입

In [28]:
sa='Hello World' #큰따옴표, 작은따옴표를 사용하거나 각각 3개씩 사용가능

In [29]:
print(sa)

Hello World

In [30]:
sb="one way of"
print(sb)

one way of

In [32]:
a="Tom's favorite food is pizza" # 작은 따옴표가 있는 경우
print(a)

Tom's favorite food is pizza

In [33]:
c="You are right." I said.
print(c)

SyntaxError: invalid syntax (<ipython-input-33-a25c388d3a8a>, line 1)

In [35]:
d='"You are right"I said.'
print(d)

"You are right"I said

In [36]:
# Escape 문자 (한번에 여러개 문자열 지정)

In [2]:
s='12\n34'

In [3]:
print(s)

12
34

In [41]:
print(s)

12
34

In [46]:
sd=''

In [4]:
se=r'this|has|no|special'
print(se)

this|has|no|special

In [49]:
se=r'this\has\no\special' #작은 따옴표 앞에 쓰면 그대로 출력
print(se)

this\has\no\special

In [50]:
se='this\has\no\special' #
print(se)

this\has
o\special

In [52]:
a='this is'
b=' my world'
print(a+b)

this is my world

In [53]:
a='='
print(a*59)

===========================================================

In [54]:
#문자열 길이
a='this is the'
len(a)

11

In [55]:
#문자열 인덱싱
a='this is my world'

In [56]:
print(a[2])

i

In [57]:
print(a[-1])

d

In [58]:
print(a[-0])

t

In [59]:
print(a[0])

t

In [60]:
#Slicing 단어 지정
b="15120044Chang"
print(b[:8]) #8번 앞자리 0에서 7번까지 출력

15120044

In [62]:
print(b[8:])

Chang

In [63]:
print(b[:-5]) #뒤에서 부터 제거함

15120044

In [64]:
#문자열 수정
a='this is string'
a[10:]='rope'

TypeError: 'str' object does not support item assignment

In [71]:
b=' rope'
a[:7]+b

'this is rope'

In [66]:
c=a.replace('string', 'rope')
c

'this is rope'

In [72]:
#문자열 format 문자열 내에 값을 삽입하는 방법
"I have %d children" %3

'I have 3 children'

In [74]:
"I have %s children" %"Three"

'I have Three children'

In [75]:
e=3
"I have %d children" %e

'I have 3 children'

In [76]:
"I have %d children. I don't have time %s day" %(e,"all")

"I have 3 children. I don't have time all day"

In [77]:
"I have %s children. I don't have time %s day" %(e,"all") # %s는 다 정수, 실수, 문자열 다 사용가능

"I have 3 children. I don't have time all day"

In [81]:
"This is %s%% True!" %100 #

'This is 100 % True!'

In [82]:
"%10s"%"Good" #오른쪽 10만큼 정렬

'      Good'

In [83]:
"%-10s" %"Good" #왼쪽으로 10만큼 정렬

'Good      '

In [84]:
"%0.5f" %3.14522334 #소수점 5자리까지 표시

'3.14522'

In [85]:
"I have{0}children".format(3) #중괄호안 숫자 변경

'I have3children'

In [87]:
"I have {0} children".format("three") #중괄호안 숫자,문자로 변경

'I have three children'

In [88]:
#변형
"{0:<20}" .format("good")

'good                '

In [89]:
"{0:^20}" .format("good")#가운데 정렬

'        good        '

In [90]:
"{0:*^20}" .format("good")#가운데 정렬하고 주위는 * 모양으로 채움 좌우 10개씩

'********good********'

In [91]:
#f를 문자열 앞에 사용하면 format을 선언안해도 사용가능
a=3
b='all'

f"I have {a} children. {b} time"

'I have 3 children. all time'

In [92]:
f"I have {a+2} children. {b} time"

'I have 5 children. all time'

In [94]:
f'{"good":<20}'

'good                '

In [95]:
f'{"good":*^20}'

'********good********'

In [98]:
c=3.141592
f'{c:0.2f}'

'3.14'

In [100]:
f'{c:30.2f}'

'                          3.14'

In [105]:
f'{{good}}''{good}'

'{good}{good}'

In [1]:
# 50분 부터 듣기

In [2]:
a="Korea culture" # u갯수 세기
a.count('u')

2

In [3]:
a.find('o') #문자의 위치를 찾아줌

1

In [4]:
a.find('p') # 없으면 -1이 나옴

-1

In [5]:
",".join('Korea culture')

'K,o,r,e,a, ,c,u,l,t,u,r,e'

In [6]:
a.upper() #소문자를 대문자로 바꿔줌

'KOREA CULTURE'

In [8]:
a.lower() # 대문자를 소문자로 바꿔줌

'korea culture'

In [10]:
b=' Korea culture    ' # 양쪽 공백 제거
b.strip()

'Korea culture'

In [12]:
b.lstrip() #왼쪽 공백만 제거

'Korea culture    '

In [13]:
b.rstrip()

' Korea culture'

In [14]:
a.replace("Korea","Good") # 해당 문자열 변경

'Good culture'

In [15]:
a.split() # 문자열을 나누어줌

['Korea', 'culture']

## 3.7 리스트 타입

In [27]:
a=[] # a=list()
b=[1,2,3,4,5]
c=['red','blue','yellow']
d=[1,2,['red','blue']]

In [28]:
print(a)
print(b)
print(c)
print(d)

[]
[1, 2, 3, 4, 5]
['red', 'blue', 'yellow']
[1, 2, ['red', 'blue']]

In [29]:
## 인덱싱

In [30]:
b[0]

1

In [31]:
b[0]+b[2]

4

In [32]:
d[0]

1

In [33]:
d[-1] # 리스트 묶음 값이 하나의 값으로 표현

['red', 'blue']

In [34]:
d[-1][0] # 이중 리스트 안에 값을 구함

'red'

In [35]:
## 슬라이싱

In [36]:
print(b)

[1, 2, 3, 4, 5]

In [37]:
b[0:4] # 첫번째부터 4번째까지

[1, 2, 3, 4]

In [38]:
d[:5]

[1, 2, ['red', 'blue']]

In [40]:
d[0:3:2] #2자리 수만 출력

[1, ['red', 'blue']]

In [41]:
d[0:6:3] #1번째와 3번째만 출력

[1]

In [44]:
d[2][0:2] # d리스트에 2번째 출력후 2개출력

['red', 'blue']

In [45]:
## 연산

In [46]:
a=[1,2,3,4]
b=[6,7,8,9]

In [47]:
a+b

[1, 2, 3, 4, 6, 7, 8, 9]

In [48]:
a*2 #2번 반복

[1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
len(a) #리스트 갯수를 알려줌

4

In [50]:
k=[1234124]
len(k)

1

In [51]:
m='12311231'
len(m)

8

In [54]:
c='good' 
b+c

TypeError: can only concatenate list (not "str") to list

In [53]:
c=['good'] #리스트는 숫자배열과 문자열 합할 수 있음
b+c

[6, 7, 8, 9, 'good']

In [56]:
#수정
a[3]

4

In [58]:
a[3]=9 # 리스트안의 값은 수정가능
print(a)

[1, 2, 3, 9]

In [59]:
n='1234'
n[3]

'4'

In [62]:
n[3]='9' #문자열 수정불가
print(n)

TypeError: 'str' object does not support item assignment

In [63]:
# function
a=[1,2,3,4,[a,b,c]]
b=[6,7,8,9]

In [64]:
len(a)

5

In [65]:
len(b)

4

In [66]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [67]:
len(b)

4

In [68]:
sum(b) #리스트 안의 값을 다 더함

30

In [69]:
max(b)

9

In [70]:
min(b)

6

In [71]:
del(b[0]) #리스트안 인덱싱 요소 삭제

In [72]:
print(b)

[7, 8, 9]

In [77]:
b=[6,7,8,9]
del b[:3]
print(b)

[9]

In [78]:
str(b[0]) #숫자형을 문자형으로 바꿈

'9'

In [79]:
b=['6','7','8','9']
b.append('10') #기존 리스트에 요소 추가하는 함수

In [80]:
print(b)

['6', '7', '8', '9', '10']

In [81]:
b.append(['11','12'])
print(b)

['6', '7', '8', '9', '10', ['11', '12']]

In [82]:
c=['5','2','4','8']
c.sort() # 작은 숫자에서 큰숫자로 정렬

In [83]:
print(c)

['2', '4', '5', '8']

In [84]:
d=['x','y','z','a']
d.sort()

In [85]:
print(d)

['a', 'x', 'y', 'z']

In [86]:
c=['6','9','8','7']
c.reverse() # 현재 리스트 순서를 반대로 나타냄
print(c)

['7', '8', '9', '6']

In [87]:
c.index('9')#해당 문자 인덱스 찾는것

2

In [88]:
c.insert(4,'10') #위치 지정후 값을 삽입

In [89]:
print(c)

['7', '8', '9', '6', '10']

In [91]:
c.insert(0,'5')
print(c)

['5', '5', '7', '8', '9', '6', '10']

In [92]:
e=['3','4','3','4','5']
e.remove('4') #앞에서 부터 제거
print(e)

['3', '3', '4', '5']

In [93]:
e.pop() #리스트 마지막 요소를 보여주고 삭제

'5'

In [94]:
print(e)

['3', '3', '4']

In [95]:
e.pop(1) #해당 위치 인덱스 출력후 삭제

'3'

In [97]:
print(e)

['3', '4']

In [99]:
c=[6,6,6,6,6,7,8,9]
c.count(6) #리스트 안에 있는 갯수

5

In [101]:
c.extend([4,5]) #괄호안에 리스트만 올수 있음, 리스트에 요소값만 추가 append와 차이
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, 5]

In [102]:
# 튜플의 생성 (튜플 타입은 값을 수정할수 없음)

In [103]:
a=tuple() #a=list()

In [104]:
a=()

In [105]:
type(a)

tuple

In [106]:
b=(1,) #콤마 필요
type(b)

tuple

In [107]:
e=(1,2,('ab','cd',3,4))
e[0]

1

In [108]:
del e[0] # 튜플은 삭제, 수정등을 할수 없음

TypeError: 'tuple' object doesn't support item deletion

In [111]:
e[:] #슬라이싱 기능은 사용가능

(1, 2, ('ab', 'cd', 3, 4))

In [114]:
c*2

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, 5, 6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, 5]

In [116]:
len(e)

3

In [117]:
x,y,z=(1,2,3)

In [118]:
print(x,y,z)

1 2 3

## 사전(DICT)의 생성
#{key1:value1, key2:vaiue2,...}

In [122]:
a={'gender':'Feamle','age':30,'name':'Lee'}
print(a)

{'gender': 'Feamle', 'age': 30, 'name': 'Lee'}

In [123]:
type(a)

dict

In [125]:
a['gender'] #사전에 있던 값이 반환

'Feamle'

In [126]:
a['age']

30

In [127]:
a[0] #기존의 리스트와 튜플과는 다르게 순서가 없음

KeyError: 0

In [129]:
c={'a':[1,3,4]}
print(c)

{'a': [1, 3, 4]}

In [130]:
c={[1,3,5]:'a'} #리스트는 수정가능한 값이여서 키자리에 사용안됨

TypeError: unhashable type: 'list'

In [131]:
c={(1,3,5):'a'} #튜플은 수정 불가여서 사용가능

In [132]:
#사전의 추가

In [133]:
a={'gender':'Female'}
a['age']=30
print(a)

{'gender': 'Female', 'age': 30}

In [135]:
a['name']='Lee'

In [136]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Lee'}

In [137]:
a['a']=[1,3,5]

In [138]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Lee', 'a': [1, 3, 5]}

In [139]:
#사전의 삭제

In [141]:
del a['a'] #해당하는 키값을 삭제

In [142]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Lee'}

In [143]:
#사전의 장점

In [144]:
result={'학생A':99,'학생B':91}
result['학생A']

99

In [145]:
a=[1,2,3]
a[1] #1은 두번쨰 요소, a[자리수]

2

In [146]:
a={'gender':'Female','age':30}
a[1] #1은 key 값, a[key]

KeyError: 1

In [147]:
print(a)

{'gender': 'Female', 'age': 30}

In [148]:
# 사전함수

In [149]:
a.keys() #키의 구성을 출력

dict_keys(['gender', 'age'])

In [150]:
list(a.keys()) #list로 출력

['gender', 'age']

In [153]:
a.values() #키값을 반환

dict_values(['Female', 30])

In [154]:
a.items()

dict_items([('gender', 'Female'), ('age', 30)])

In [156]:
a['name']='Lee'

In [157]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Lee'}

In [158]:
a.clear

In [159]:
print(a)

{'gender': 'Female', 'age': 30, 'name': 'Lee'}

In [161]:
a.clear()
print(a)

{}

In [163]:
a={'Gender':'Male','age':30,'name':"Chang"}
print(a)

{'Gender': 'Male', 'age': 30, 'name': 'Chang'}

In [166]:
a.get('Gender') #a['gender'] 해당 결과값 반환

'Male'

In [169]:
a.get('ages','?')

'?'

In [170]:
'Gender' in a #키 값의 존재 여부를 물어봄

True

## 집합(SET) 타입

In [171]:
a=set([1,2,3,4,5])
print(a)

{1, 2, 3, 4, 5}

In [172]:
type(a)

set

In [173]:
type((1,2,3,4,5))

tuple

In [175]:
type({1,2,3,4,5})

set

In [176]:
type({1:2,3:4,5:6})

dict

In [177]:
# 교집합, 합집합, 차집합

In [178]:
x={1,2,3,4,5}
y={2,3,4,5,7}

In [179]:
x&y #교집합

{2, 3, 4, 5}

In [180]:
x.intersection(y) #교집합

{2, 3, 4, 5}

In [183]:
x|y #합집합

{1, 2, 3, 4, 5, 7}

In [184]:
x.union(y) #합집합

{1, 2, 3, 4, 5, 7}

In [185]:
x-y #차집합

{1}

In [186]:
y-x

{7}

In [187]:
x.difference(y)

{1}

In [188]:
x^y #대칭 차집합

{1, 7}

In [189]:
#집합 함수
x.add(10)
print(x)

{1, 2, 3, 4, 5, 10}

In [190]:
x.update([11,12,13])
print(x)

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [191]:
x.remove(13)

In [192]:
print(x)

{1, 2, 3, 4, 5, 10, 11, 12}